@font-face {
	font-family: 'Conv_Oswald-Regular';
	src: url('fonts/Oswald-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Conv_Oswald-Bold';
	src: url('fonts/Oswald-Bold.woff') format('woff');
}

@font-face {
	font-family: 'SansSerif-Regular';
	src: url('fonts/Journal-SansSerif-Regular.woff') format('woff');
}

@font-face {
	font-family: 'SansSerif-Bold';
	src: url('fonts/Journal-SansSerif-Bold.woff') format('woff');
}